<header class="header">
    <nav class="header__nav">
        <ul class="header-ul">
          <li><a routerLink="/task-list" ariaCurrentWhenActive="page" routerLinkActive="link-active">
            task-list</a></li>  
          <li><a routerLink="/task-details" ariaCurrentWhenActive="page" routerLinkActive="link-active">
            task-details</a></li>
          <li><a routerLink="/task-deletion" ariaCurrentWhenActive="page" routerLinkActive="link-active">
            task-deletion</a></li>
        </ul>
      </nav>
</header>
      <router-outlet class="content">
        
      </router-outlet>
